
/*==| Common CSS Start |==*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000041;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 45px;
}
h5{
    font-size: 22px;
}
h6{
    font-size: 18px;
}
p{
    font-family: 'PT Sans', sans-serif;
    color: #333;
}
.section-padding-top{
    padding-top: 100px;
}
.section-padding-bottom{
    padding-bottom: 100px;
}
/*==| Common CSS End |==*/


/*=======================
Header CSS Start
=========================*/
.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #000041;
}
/* Navigation CSS End */

.hero-section .carousel-item .carousel-img{
    position: relative;
}
.hero-section .carousel-item .carousel-img::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #01012599;
}
.hero-section{
    margin-top: 90px;
}
.hero-section p, p.second-par{
    font-size: 18px;
    color: #F4F4F4;
}

.prev-icon, .next-icon{
    filter: invert(0) grayscale(100) !important;
}
/*=======================
Header CSS End
=========================*/


/*=======================
Main CSS Start
=========================*/
.brand-img{
    width: 150px;
}
/*=======================
Main CSS End
=========================*/


/*=======================
Footer CSS Start
=========================*/
footer{
    background-color: #161616;
}
.social-icon ul li a i {
    width: 35px;
    height: 35px;
    padding: 10px;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    background-color: #323232;
    transition: .5s;
}
.social-icon ul li a i:hover {
    background-color: #fff;
    color: #161616;
}
/*=======================
Footer CSS End
=========================*/


